@model APPDEV.Models.Trainer
@{
    ViewBag.Title = "Index";
}
<div class="page-header">
    <h2 style="margin-bottom: 15px" class="text-center">TRAINER PROFILE</h2>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Specialty</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>@Model.FullName</td>
            <td>@Model.Age</td>
            <td>@Model.Address</td>
            <td>@Model.Specialty</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Trainers", new { id = @Model.TrainerId }, new { @class = "btn btn-success" })

            </td>
        </tr>

    </tbody>
</table>