@model APPDEV.ViewModels.CourseCategoriesViewModels
@{
    ViewBag.Title = "Create Course";
}

<div class="page-header">
    <h2 style="margin-bottom: 15px">Create Course</h2>
</div>

@using (Html.BeginForm("CourseCreate", "Courses", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(c => c.Courses.Name, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Courses.Name, "",
       new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Description</label>
        @Html.TextBoxFor(c => c.Courses.Description, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Courses.Description, "",
       new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Category</label>
        @Html.DropDownListFor(m => m.Courses.CategoryId,
        new SelectList(Model.CourseCategories, "Id", "Name", "Select Category"),
        new { @Class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
}

<div class="form-group" style="margin-top: 45px">
    @Html.ActionLink("Back to Course List", "CourseIndex", "Courses", new { @class = "btn btn-success" })
</div>