@model IEnumerable<APPDEV.Viewmodels.TrainerCourses.TrainersInCoursesViewModels>
@{
    ViewBag.Title = "Trainer In Courses";
}
@if (User.IsInRole("staff"))
{
    <div class="page-header">
        <h2 style="margin-bottom: 15px">Trainers In Courses</h2>

    </div>
    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">

    </div>
    <div class="form-group">
        @Html.ActionLink("Assign Trainer", "AddTrainer", "AssignTrainerCourses", new { @class = "btn btn-success" })
    </div>
    <div>
        @using (Html.BeginForm("GetTrainers", "AssignTrainerCourses", FormMethod.Get))
        {
            <p>
                Find by Course Name: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        }
    </div>
    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">

        @using (Html.BeginForm("GetTrainers", "AssignTrainerCourses", FormMethod.Get))
        {

        }
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Trainers</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.Course.Name</td>
                    <td>
                        <ul>
                            @foreach (var trainer in item.Trainers)
                            {
                                <li>@trainer.FullName</li>
                            }
                        </ul>
                    </td>
                    <td>

                        @Html.ActionLink("Remove Trainer", "RemoveTrainer", "AssignTrainerCourses", new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@if (User.IsInRole("trainer"))

{
    <div class="page-header">
        <h2 style="margin-bottom: 15px">Trainers In Courses</h2>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Trainers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.Course.Name</td>
                    <td>
                        <ul>
                            @foreach (var trainer in item.Trainers)
                            {
                                <li>@trainer.FullName</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}