@model IEnumerable<APPDEV.Models.Staff>
@{
    ViewBag.Title = "Index Staff";
}

<h2 style="margin-bottom: 15px; text-align: center; margin-top: 45px;">List Of Staff</h2>


<div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
    <div class="form-group">
        @Html.ActionLink("Create a New Staff", "CreateStaffAccount", "Admins", new { @class = "btn btn-primary" })
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Staff Email</th>
            <th scope="col">FullName</th>
            <th scope="col">Staff Age</th>
            <th scope="col">Staff Address</th>

            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <th style="vertical-align: middle" scope="row" class="col-sm-3">@item.User.Email</th>
                <td style="vertical-align: middle" class="col-sm-3">@item.FullName</td>
                <td style="vertical-align: middle" class="col-sm-3">@item.Age</td>
                <td style="vertical-align: middle" class="col-sm-3">@item.Address</td>
                <td>
                    @Html.ActionLink("Edit", "EditStaffAccount", "Admins", new { id = @item.StaffId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "DeleteStaffAccount", "Admins", new { id = @item.StaffId }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Change Password", "StaffPasswordChange", "Admins", new { id = @item.StaffId }, new { @class = "btn btn-success" })

                </td>
            </tr>
        }
    </tbody>
</table>